node_modules/
frontend/node_modules/
.idea
.idea/
frontend/.vscode/
.vscode/
dist/
frontend/dist
tmp/
frontend/tmp
out-tsc/
frontend/out-tsc
bazel-out/
frontend/bazel-out
.angular/
frontend/.angular
__pycache__/
*.py[cod]
venv/
.venv/
env/
*.swp